In [3]:
# Carregar biblioteca de ler arquivos pkl
import joblib

import pandas as pd

In [45]:
# Importando base de dados

df = pd.read_csv("base_teste.csv")

C:\Users\marco\AppData\Local\Temp\ipykernel_3272\4171674192.py:3: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("base_teste.csv")

In [13]:
df.columns

Index(['dataset', 'original_index', 'review_text', 'review_text_processed',
       'review_text_tokenized', 'polarity', 'rating', 'kfold_polarity',
       'kfold_rating'],
      dtype='object')

In [46]:
# Salvando colunas necessárias
df = df[['dataset', 'review_text', 'polarity']]

In [47]:
df.head()

  dataset                                        review_text  polarity
0     b2w  Bem macio e felpudo...recomendo.  Preço imbatí...       1.0
1     b2w  Produto excepcional!  recomendo!!! inovador e ...       1.0
2     b2w  recebi o produto antes do prazo mas veio com d...       0.0
3     b2w  Bom custo beneficio. Adequado para pessoas que...       1.0
4     b2w  Além de higiênico tem o tamanho ideal. Só falt...       NaN

In [48]:
# Eliminar linhas nulas

df = df[df['polarity'].notna()]
df = df[df['review_text'].notna()]

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2386163 entries, 0 to 2786091
Data columns (total 3 columns):
 #   Column       Dtype
---  ------       -----
 0   dataset      object
 1   review_text  object
 2   polarity     float64
dtypes: float64(1), object(2)
memory usage: 72.8+ MB

In [50]:
# Carregar o modelo e o vetorizador para fazer previsões em novos dados
modelo_carregado = joblib.load('modelo_regressao_logistica.pkl')
tfidf_carregado = joblib.load('tfidf_vectorizer.pkl')

In [51]:
# Fazendo aplicação com os dados
novo_dado = tfidf_carregado.transform(df['review_text'])

In [52]:
print(novo_dado)

  (1, 16556)	0.4969766346975826
  (1, 27428)	0.8027531785842992
  (1, 37302)	0.32954750619215706
  (2, 13766)	0.16055122763011218
  (2, 16027)	0.40276591596661476
  (2, 18931)	0.2511675788013183
  (2, 40066)	0.3766998048365952
  (2, 43584)	0.35063369370657566
  (2, 49598)	0.3835560888900776
  (2, 51912)	0.40276591596661476
  (2, 63396)	0.4180136135173066
  (3, 11480)	0.4163554010065353
  (3, 16556)	0.30140100400234543
  (3, 18931)	0.5850512433769688
  (3, 50923)	0.25061667162353907
  (3, 61632)	0.4868450488393932
  (3, 64426)	0.2344805620647986
  (3, 64893)	0.19675544668652087
  (4, 4948)	0.7643413485277342
  (4, 8700)	0.20342458825151602
  (4, 18931)	0.6118829461796644
  (6, 22467)	0.7021939050396571
  (6, 44701)	0.7119857580915204
  (7, 24678)	0.6934847720225035
  (7, 46260)	0.6063913149097716
  :	:
  (2386158, 49268)	0.445088799052585
  (2386159, 13766)	0.26872360937730644
  (2386159, 16556)	0.4331482421316286
  (2386159, 37078)	0.2506915577579973
  (2386159, 50923)	0.7203305186187821
  (2386159, 64427)	0.39805515813361614
  (2386160, 8700)	0.5761918002148304
  (2386160, 57266)	0.817314510678229
  (2386161, 242)	0.11242720517054358
  (2386161, 16027)	0.2013603949309869
  (2386161, 16556)	0.646897853569664
  (2386161, 18931)	0.37670915678092337
  (2386161, 20853)	0.2013603949309869
  (2386161, 42557)	0.2089833895263142
  (2386161, 44701)	0.17110196760232252
  (2386161, 45533)	0.07264695706379436
  (2386161, 46260)	0.335348419332827
  (2386161, 61712)	0.1502748936376616
  (2386161, 64426)	0.3019597883668885
  (2386161, 64427)	0.11889741310353417
  (2386161, 65011)	0.053605831114868406
  (2386161, 65290)	0.15627848198910557
  (2386162, 1863)	0.5701164270263149
  (2386162, 49388)	0.5916995911009505
  (2386162, 64426)	0.5699639054586849

In [26]:
# Criar DataFrame esparsa
matriz_esparsa2 = pd.DataFrame.sparse.from_spmatrix(novo_dado,
                                                    columns=tfidf_carregado.get_feature_names_out())

In [ ]:
matriz_esparsa2

In [53]:
previsao = modelo_carregado.predict(novo_dado)

print("Resultado da previsão:", previsao)

Resultado da previsão: [1 1 0 ... 0 1 1]

In [54]:
# Criar uma nova coluna chamada 'previsao' com os resultados da previsão
df['previsao'] = previsao

In [55]:
# eliminando o .0 da coluna
df['polarity'] = df['polarity'].astype(str)
df['polarity'] = df['polarity'].str.replace(".0", "")

In [56]:
df['review_text'] = df['review_text'].str.replace(r'\r\n', '')
df['review_text'] = df['review_text'].str.replace(r'\n', '')
df['review_text'] = df['review_text'].str.replace(r'\r', '')
df['review_text'] = df['review_text'].str.strip()

In [60]:
# Baixar base de dados

df.to_csv('aplicacao_ml_sentimentos.csv', sep=',', index=False)

In [61]:
df1 = df

In [64]:
mask = df['review_text'].str.contains(';')
filtered_df = df[mask]

In [65]:
filtered_df

,dataset,review_text,polarity,previsao
161,b2w,"Minha casa, minhas roupas viviam com pelo de g...",1,1
209,b2w,"O encosto veio com vários arames amassados, fa...",0,0
256,b2w,Ridiculo isso um site grande desse me enviar u...,0,1
313,b2w,A Americanas salvaram um tio meu com esse pro...,1,0
955,b2w,Comprei o microfone da galinha pintadinha e ve...,0,0
...,...,...,...,...
2785904,buscape,Eu comprei um monitor da marca AOC e até hoje ...,1,1
2785912,buscape,"aparelho muito bom, boa relação custo benefíci...",1,1
2785943,buscape,"Utilizo para impressão coloridas, e de documen...",1,1
2786012,buscape,esta TV tem a melhor imagem q eu já vi!! tenh...,1,1
2786060,buscape,"Não me arrependo de ter comprado, o aparelho é...",1,1

In [58]:
df

,dataset,review_text,polarity,previsao
0,b2w,Bem macio e felpudo...recomendo. Preço imbatí...,1,1
1,b2w,Produto excepcional! recomendo!!! inovador e ...,1,1
2,b2w,recebi o produto antes do prazo mas veio com d...,0,0
3,b2w,Bom custo beneficio. Adequado para pessoas que...,1,0
5,b2w,"ótmo produto atendeu as expectativas, a entreg...",1,1
...,...,...,...,...
2786085,buscape,Excelente custo-benefício apresentado por este...,1,0
2786086,buscape,"Game muito legal, com uma grande variedade de ...",1,1
2786087,buscape,"Produto muito bom, simples e barato",1,0
2786089,buscape,Esse jogo é muito maneiro é um jogo onde vc te...,1,1
2786091,buscape,"Meu irmão possui um e acho excelente, estou ec...",1,1